<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Newsletter</h1>
    <%= link_to 'Exportar CSV', export_csv_dashboard_subscribers_path, class:"btn btn-info mb-2" %>
  <% if @subscribers.empty? %>
    <div class="alert alert-danger" role="alert">
      Nenhum grupo cadastrado!
    </div>
  <% else %>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <% @subscribers.each do |subscriber| %>
          <tr>
            <th scope="row"><%= subscriber.id %></th>
            <td><%= subscriber.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>