<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span class="footer-new">
        Copyright &copy; Catálogo Nestlé <%= Date.current.year %>
        -
        <span class="done_dashboard">
          Desenvolvido por
          <a href="https://www.linkedin.com/in/fabriciobonjorno" target="_blank">Fabricio Bonjorno</a>.
        </span>
      </span>
    </div>
  </div>
</footer>
