<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; <%= Date.current.year %>
      -
      <span class="done">
        Desenvolvido por
        <a href="https://www.linkedin.com/in/fabriciobonjorno" target="_blank">Fabricio Bonjorno</a>.
      </span>
    </p>
  </div>
</footer>
